*,
:after,
:before {
  box-sizing: border-box;
}

/* Font */

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Pretendard-Regular.woff2) format("woff2");
  src: url(/fonts/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Pretendard-Bold.woff2) format("woff2");
  src: url(/fonts/Pretendard-Bold.woff) format("woff");
}
